//fonts
$font-main: 'Raieway', sans-serif;
$font-accent: 'Playfair Display', serif;
$font-secendery: 'Roboto', sans-serif;

// colors
$dark: #242B33;
$accent: #D4C17F;
$white: #fff;
$footer-bg: #2D343C;
$placeholder: #BEBEBE;
 